.main {
  min-height: 100vh;
}

.navbar {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  color: white;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.content {
  height: 240px;
  width: 60%;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 20%;
  margin-top:5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
background: #6f6d6d;
box-shadow:  20px 20px 60px #5e5d5d,
             -20px -20px 60px #807d7d;
}

.flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connection {
  margin-top: 2%;
}

.mt2 {
  margin-top: 2%;
}

.subtitle {
  margin-top:30px;
  font-size: 20px;
  font-weight: 600;
}

.title {
  margin-top:1%;
  font-size: 24px;
  font-weight: 500;
}

.button {
  background-color: azure;
  padding: 0.5%;
  border-radius: 10%;
  border: 0px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: beige;
}

.mt3{
  position: relative; /* Helps to keep label top on input */
  border-radius: 0.4rem;
  margin-top: 2rem;
 margin-left: 150px;
  border: lightgreen 0.1rem solid;
  width: 20rem;
  height: 2.5rem;
  padding: 0rem 1rem;
  font-size: 1.4rem;
}
.btn{
  width: 6rem;
  height: 2.5rem;
  margin-top: 2rem;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  background-color: #23d5ab;
  color: white;
  margin-left: 3%;
  
}